<div class="hero"> 
    <br />
    <div class="frosty col-10 offset-1">
    <br />
        <h1>    beer</h1> 
        <h2>    /bir/</h2>   
        <h2><i>noun</i></h2>  
        <h3>    an alcoholic drink made from yeast-fermented malt flavored with hops</h3>
        <h4><i> "a pint of beer"</i></h4>
        
    </div>
</div> 
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <div class="beers">
        <h3>Beers</h3>
        <br />
        <p>Share your favorite beers.</p>
    </div>
  </div>

  <div class="col-12 col-sm">
    <div class="brewery">
        <h3>Breweries</h3>
        <br />
        <p>The birthplaces of your favorite beers.</p>
    </div>
  </div>

  <div class="col-12 col-sm">
    <div class="bars">
        <h3>Bars</h3>
        <br />
        <p>Share your favorite local watering hole.</p>
    </div>
  </div>
</div>

<br />
<% @beers.each do |beer| %>
  <div>
    <h1><%= beer.name %></h1><br />
    <i><%= beer.brewery %></i><br />
    <p><%= beer.description %></p><br />
  </div>

  <hr />
<% end %>